body{
    color: white;
    background-image: url(../Maquette/fond_etoiler.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: 3005px 2005px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table{
    border-collapse: collapse;
}
  
td{
    border: 1px solid white;
    padding: 10px;
}

.container {
    width: 200px;
    height: 200px;
    background-color: lightblue;
}