body{
    color: white;
    background-image: url(../Maquette/fond_etoiler.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: 3005px 2005px;
}

table{
    border-collapse: collapse;
}
  
td{
    border: 1px solid white;
    padding: 10px;
}
