html, body {
    background-image: url("./images/Fond_galaxie.jpg");
    height: 100vh; /* Assure que le body prend toute la hauteur */
    margin: 0;
    display: flex;
    flex-direction: column;
}


img {
    width: 75px;
    height: 75px;
}

#titre {
    color: #A0C4FF;
    flex-grow: 1; /* Permet au titre de prendre l'espace restant */
    text-align: center;
    font-size: 75px;
}

.footer-container {
    background-color: #999999;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer {
    margin-top: 95px;
}

.social-icons {
    display: flex;
    gap: 10px; /* Espacement entre les icônes */
}

.logo {
    width: 50px; /* Ajustez selon la taille souhaitée */
    height: auto;
}

button {
    background-color: white;
    font-size: 75px;
    color: black;
    border-radius: 50%;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajustez selon vos besoins */
    padding: 10px;
}

.game_choose {
    width: 450px;
    height: auto;
    z-index: 1;
}

.button_select {
    width: 75px;
    height: 75px;
    font-size: 50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

#game_title {
    color: #A0C4FF;
    text-align: center;
}

.game_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button_container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}